.hide {
    display: none;
}

.filter {
    margin-top   : 35px;
    margin-left  : 18px;
    font-size    : 18px;
    margin-bottom: 35px
}

.catalogbtn {
    height          : 45px;
    width           : 115px;
    background-color: transparent;
    border          : 2px solid #d9d9d9;
    border-radius   : 35px;
    transition      : all .1s ease-in-out;
    margin-right    : 25px;
    outline         : none;
}

.catalogbtn:hover {
    border: 1px solid black;
}

.filter-price {
    font-size    : 14px;
    color        : #a3a3a3;
    border-top   : 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    Padding      : 20px 0;
    width        : 100%;
}

.catalog-sort-asc,
.catalog-sort-desc {
    border          : none;
    background-color: transparent;
    font-size       : 18px;
    outline         : none;
    cursor          : pointer;
    color           : #a8c0c8;
}

.catalog-sort-asc.active,
.catalog-sort-asc:hover,
.catalog-sort-desc:hover,
.catalog-sort-desc.active {
    color: #1a0aff;
}

.filter-price {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}


.filter-input__form {
    width       : auto;
    float       : right;
    margin-right: 40px;
    position    : relative;
}


.filter-input__btn {
    width     : 45px;
    height    : 44px;
    background: none;
    border    : none;
    position  : absolute;
    right     : 3px;
}

.filter-input {
    width        : 255px;
    height       : 45px;
    padding-left : 20px;
    border-radius: 45px;
    border       : 2px solid #a3a3a3;
    background   : transparent;
    outline      : none;
    position     : relative;
    transition   : .4s linear;
}

.filter-input:focus {
    width: 300px;
    border: 1px solid #a10aff;